// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-article {
  border: 2px solid #B35604;
}

.articles-row {
  background-color: rgba(219,219,219,.8);
  text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.articles {
  margin: .2%;
  border: 2px solid black;
  text-align: center;
  float: left;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video {
  position: absolute;
  top: 0;
  left: 20%;
  height: 60%;
  width: 60%;
  margin-top: 10%;
}

.article-title {
  margin-bottom: 25px;
  text-align: center;
  color: #B35604;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.article-body {
  text-align: left;
  color: #B35604;
  font-size: 15px;
  margin-bottom: 2%;
}

.article-container {
  background-color: rgba(219,219,219,.8);
}

.field  {
  color: #B35604;
}