.aside-container {
  width: 100%;
  margin: 0.5em 0 0 0;
  padding: 0;
}

.aside {
  background-color: rgba(219,219,219,.8);
  border: 1px solid black;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.aside-link {
  margin: 0.5em;
  border: 1px solid black;
}