.aside-container {
  // margin-top: 0.5em;
}

.aside {
  height: 100%;
  background-color: rgba(219,219,219,.75);
  // border: 1px solid black;
  margin: 0;
  text-align: center;
  text-decoration: none;
  padding: 0;
}

.aside-child {
  background-color: rgba(219,219,219,.75);
  // border: 1px solid black;
  margin: 0;
  text-align: center;
  text-decoration: none;
  padding: 0;
}

.aside-link {
  text-align: center;
  padding: 0;
  margin-top: 0.5em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  border: 1px solid black;
}

div.login-form {
  display: none;
  // z-index: 3;
}

div.sign-up-form {
  display: none;
}