.aside-container {
  margin-top: 0.5em;
}

.aside {
  background-color: rgba(219,219,219,.8);
  border: 1px solid black;
  margin: 0;
  text-align: center;
  text-decoration: none;
  padding: 0;
}

.aside-link {
  text-align: center;
  padding: 0;
  margin: 0.5em;
  border: 1px solid black;
}