<div class="container aside-container">
    <div class="row aside">
      <div class="col-sm-12 col-sm-offset-3 col-xs-offset-1">
        <div class="col-sm-2 col-xs-3 aside-link"><%= link_to 'Home', root_path %></div>
        <div class="col-sm-2 col-xs-3 aside-link"><%= link_to 'Categories', categories_path %></div>
        <div class="col-sm-2 col-xs-3 aside-link"><%= link_to 'Articles', articles_path %></div>
      </div>
    </div>
  </div>